@import url('./root.css');
@import url('./fonts.css');

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-secondary);
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-size: 25px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}
