---
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout centeredContent>
  <main class="text-center">
    <h1>Hymn Search</h1>
    <label class="input input-bordered flex items-center gap-3 w-96 mt-6">
      <i class="fa fa-magnifying-glass"></i>
      <input type="text" class="grow" placeholder="Type the title of a hymn" />
    </label>
    <button class="btn btn-primary btn-lg min-h-14 h-14 mt-5">Search</button>
  </main>
</DefaultLayout>
