---
import '@fortawesome/fontawesome-free/css/all.min.css';
import '../styles/index.css';
---

<html lang="en" data-theme="emerald">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Christ's Glory Church</title>
  </head>
  <body>
    <slot />
  </body>
</html>
